.navbar-light{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    position: fixed !important;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(200px);
}
.navbar-nav a{
    font-family: "IBM Plex Sans", sans-serif;
    color: white !important;
    font-weight: 700px;
    font-size: 18px;
    line-height: auto;
    padding: 0 20px !important;
}